body{
    background-color: #000000;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.circle{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
}
.circle-1{
    height: 120px;
    width: 120px;
    background-image: radial-gradient(69.62% 69.62% at 50% 50%, #EA8BFA 0%, #7526F5 100%);
    top: 10px;
}
.circle-2{
    height: 360px;
    width: 360px;
    background-image: radial-gradient(63.62% 63.62% at 50% 50%, #FF00C7 0%, #BD95FF 0.01%, #A661FF 32.29%, #6100FF 98.59%);
    top: 100px;
    left: 360px;
}
.circle-3{
    height: 220px;
    width: 220px;
    background: radial-gradient(67.47% 67.47% at 50% 50%, #FED0FF 0%, #7F00FF 100%);
    top: 100px;
}
.card-container{ 
    width: 400px;
    height: 520px;
    position: relative;
    background-image: linear-gradient(151.53deg, rgba(255, 252, 252, 0.4) 6.01%, rgba(255, 255, 255, 0.1) 92.61%);
    backdrop-filter: blur(10px); 
    border-radius: 12px;
}
.card{
    width: 400px;
    height: 520px;
    position: relative;
    background-image: linear-gradient(151.53deg, rgba(255, 255, 255, 0.4) 6.01%, rgba(255, 255, 255, 0.1) 92.61%);
    backdrop-filter: blur(10px); 
    border-radius: 12px;
}